@media(max-width:768px) {
    .client img {
        margin: .5rem;
    }
}

@media (max-width: 600px) {
    /* ========== Footer ======= */
    footer {
        padding: 45px 50px;
    }
    footer .footer-left,
    footer .footer-right {
        text-align: center;
    }
    footer .footer-right {
        float: none;
        margin: 0 auto 20px;
    }
    footer .footer-left p.footer-links {
        line-height: 1.8;
    }
}