@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

html,
body {
    font-family: 'Helvetica', 'Arial', sans-serif !important;
}


/* ========== Section ========== */

.section-first {
    margin-top: 6rem;
}


/* ========== Typography ========== */

.title {
    font-weight: 700;
}

.title.h1 {
    font-size: 1.80rem;
}

.subtitle {
    font-weight: 400;
    color: rgba(0, 0, 0, 0.8);
}

.line-grey {
    display: inline-block;
    width: 100%;
    height: 1px;
    -webkit-transition: all .3s;
    transition: all .3s;
    background: rgba(0, 0, 0, 0.3);
}

a:hover {
    text-decoration: none;
}

ul {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}


hr.dash {
    border-top: 1px dashed #000000;
}

/* ========== Breadcrumbs ========== */

.breadcrumb-item a {
    color: #000;
}


/* ========== Shortcut ========== */

.ptb-3 {
    padding: 1rem 0;
}


/* ========== Buttons ========== */

.btn-black {
    background-color: #000 !important;
    color: #fff;
    border-radius: 0 !important;
}

.btn-black:hover {
    color: #aaa;
}

.btn-remove {
    padding: 0;
    text-decoration-line: underline;
}


/* ========== slider Image Greyscale ========== */

.thumb-img .card img {
    /* -webkit-filter: grayscale(100%); */
    /* Safari 6.0 - 9.0 */
    /* filter: grayscale(100%); */
}

.owl-carousel.thumb-img .owl-nav {
    position: absolute;
    top: 40%;
    left: 0;
    right: 0;
}

.owl-carousel.thumb-img .owl-nav i {
    font-size: 2.5rem;
    color: #cecece;
}

.owl-carousel.thumb-img .owl-prev,
.owl-carousel.thumb-img .owl-next {
    position: absolute;
    height: 100px;
    color: inherit;
    background: none;
    border: none;
    z-index: 1;
}

.owl-carousel.thumb-img .owl-prev:hover,
.owl-carousel.thumb-img .owl-next:hover {
    background: transparent;
    border: 0;
}

.owl-carousel.thumb-img .owl-prev {
    left: 0;
}

.owl-carousel.thumb-img .owl-next {
    right: 0;
}


/* ========== Client ========== */

.client {
    text-align: center;
}

.client img {
    margin: 2rem;
}


/* ========== Release ========== */

.card-release .card-img {
    border-radius: 0;
}

.card-release a .card-title {
    color: #212529 !important;
}


/* ========== Playlist ========== */

.card-playlist {
    background: #fff;
}

.card-playlist,
.card-playlist img,
.card-playlist .card-body {
    border-radius: 0 !important;
}

.card-playlist img {
    object-fit: cover;
    height: 10rem;
}

.card-playlist .card-body a {
    color: #000;
}

.card-playlist a .card-body {
    color: #212529 !important;
}

.card-playlist .card-body a:hover {
    color: #6c757d;
}

.playlist-author {
    display: flex;
    justify-content: space-between;
    margin-top: 1.5rem;
}

.playlist-author span {
    font-size: 14px;
    color: rgba(35, 35, 35, 0.6);
}


/* ========== sportify ========== */

.sportify-embed iframe .bl {
    background: bisque !important;
}

.sportify-embed.detail {
    margin-top: 3.5rem;
}


/* ========== Article & Journal ========== */

.card-article {
    background: rgba(218, 218, 218, 0.62) !important;
}

.card-article,
.card-article img,
.card-article .card-body {
    border-radius: 0 !important;
}

.card-article.right img {
    object-fit: cover;
    height: 10rem;
}

.card-article.left img {
    object-fit: cover;
    height: 36vh;
    width: 100%;
}

.card-article .card-body:after {
    content: " ";
    position: absolute;
    left: -15px;
    top: 15px;
    border-top: 15px solid transparent;
    border-right: 15px solid rgba(218, 218, 218, 0.62);
    border-left: none;
    border-bottom: 15px solid transparent;
}

.card-article a {
    color: #000;
}

.card-article .card-footer {
    background: unset;
    border: 0;
}


/* Detail Article */

.image-detail-article .img-detail {
    /* width: 100%;
    height: 40vh;
    object-fit: cover; */
}


/* ========== Nav Store ========== */

.main-menu ul li img {
    width: 1.2rem;
    margin-top: -5px;
}

.main-menu ul li a span {
    font-size: 13px;
    padding: 5px;
}

.show-sidebar-cart {
    overflow: hidden !important;
    height: 100% !important;
}

.show-sidebar-cart #sidebar-cart {
    right: 0;
    visibility: visible;
}

#sidebar-cart {
    background: #FFF;
    color: #75757a;
    padding: 15px 15px 0 15px;
    position: fixed;
    display: block;
    width: 320px;
    height: 100%;
    z-index: 2;
    top: 0;
    right: -340px;
    box-shadow: -10px 0 15px rgba(0, 0, 0, 0.1);
    transition: right 0.5s ease-in-out;
}

#sidebar-cart a.close-button {
    height: 16px;
    width: 16px;
    margin: 0 0 15px 0;
    text-decoration: none;
    position: absolute;
    top: 20px;
    left: 20px;
    display: flex;
}

#sidebar-cart a.close-button span.close-icon {
    width: 16px;
    height: 16px;
    background: rgba(117, 117, 122, 0.5);
    text-indent: -9999px;
    overflow: hidden;
    font-size: 0;
    mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'%3E%3Cpath d='M30.3 32c-.5 0-.9-.2-1.2-.5L16 18.4 3 31.5c-.4.3-.8.5-1.3.5s-.9-.2-1.2-.5c-.7-.7-.7-1.8 0-2.4L13.6 16 .5 2.9C-.2 2.2-.2 1.2.5.5.8.2 1.2 0 1.7 0s.9.2 1.2.5l13.1 13 13-13c.7-.7 1.7-.7 2.4 0 .4.3.6.7.6 1.2s-.2.9-.5 1.2L18.4 16l13.1 13.1c.7.7.7 1.8 0 2.4-.3.3-.8.5-1.2.5z'/%3E%3C/svg%3E");
    -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'%3E%3Cpath d='M30.3 32c-.5 0-.9-.2-1.2-.5L16 18.4 3 31.5c-.4.3-.8.5-1.3.5s-.9-.2-1.2-.5c-.7-.7-.7-1.8 0-2.4L13.6 16 .5 2.9C-.2 2.2-.2 1.2.5.5.8.2 1.2 0 1.7 0s.9.2 1.2.5l13.1 13 13-13c.7-.7 1.7-.7 2.4 0 .4.3.6.7.6 1.2s-.2.9-.5 1.2L18.4 16l13.1 13.1c.7.7.7 1.8 0 2.4-.3.3-.8.5-1.2.5z'/%3E%3C/svg%3E");
    transition: all 0.5s linear;
}

#sidebar-cart a.close-button:active span.close-icon,
#sidebar-cart a.close-button:hover span.close-icon {
    background: rgba(117, 117, 122, 0.5);
}

#sidebar-cart h2 {
    color: #000;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
    line-height: 1;
    margin: 5px 0 25px 0;
    display: flex;
    justify-content: center;
}

#sidebar-cart h2 span.count {
    color: #fff;
    background: #4dc0e3;
    padding: 8px;
    margin-left: 6px;
    position: relative;
    top: -1px;
    width: 18px;
    height: 18px;
    border-radius: 50px;
    font-size: 12px;
    letter-spacing: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

#sidebar-cart ul.products {
    margin: 0;
    padding: 0 0 15px 0;
    list-style: none;
    /* height: 100%; */
    overflow-x: hidden;
    overflow-y: auto;
    display: block;
    position: relative;
    z-index: 0;
}

/* #sidebar-cart ul.products:after {
    background: linear-gradient(180deg, transparent, #FFF);
    height: 30px;
    width: 300px;
    z-index: 1;
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
} */

#sidebar-cart ul.products li.product {
    margin: 0 0 10px 0;
    padding: 0;
    width: 100%;
    min-height: 30px;
    /* background: #dee2ee; */
    border-radius: 3px;
    color: #98989b;
    position: relative;
    z-index: 1;
    display: flex;
    flex-flow: row nowrap;
    transition: all 0.5s linear;
}

#sidebar-cart ul.products li.product:active,
#sidebar-cart ul.products li.product:hover {
    background: #fff;
}

#sidebar-cart ul.products li.product:active span.product-details h3,
#sidebar-cart ul.products li.product:hover span.product-details h3 {
    color: #000 !important;
}

#sidebar-cart ul.products li.product:active img,
#sidebar-cart ul.products li.product:hover img {
    border-color: #d7d7de !important;
}

#sidebar-cart ul.products li.product a.product-link {
    width: 100%;
    color: #354165;
    padding: 10px;
    margin: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

#sidebar-cart ul.products li.product a.product-link span.product-image {
    display: inline-block;
    width: 75px;
    height: 50px;
    padding-right: 10px;
}

#sidebar-cart ul.products li.product a.product-link span.product-image img {
    max-width: 100%;
    border: 1px solid #d7d7de;
    transition: all 0.5s linear;
}

#sidebar-cart ul.products li.product a.product-link span.product-details {
    display: inline-block;
    width: 100%;
    min-height: 30px;
    color: #75757a;
}

#sidebar-cart ul.products li.product a.product-link span.product-details h3 {
    margin: 3px 25px 5px 0;
    font-size: 13px;
    font-weight: 500;
    color: #44444a;
    transition: all 0.5s linear;
}

#sidebar-cart ul.products li.product a.product-link span.product-details span.qty-price {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    position: relative;
    z-index: 5px;
    margin-top: 8px;
}

#sidebar-cart ul.products li.product a.product-link span.product-details span.qty-price span.qty,
#sidebar-cart ul.products li.product a.product-link span.product-details span.qty-price span.price {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

#sidebar-cart ul.products li.product a.product-link span.product-details span.qty-price span.qty {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    justify-content: flex-start;
}

#sidebar-cart ul.products li.product a.product-link span.product-details span.qty-price span.qty button.minus-button,
#sidebar-cart ul.products li.product a.product-link span.product-details span.qty-price span.qty button.plus-button {
    width: 25px;
    height: 24px;
    border-radius: 3px;
    border: 1px solid #cdcdd1;
    background: #f0f0f9;
    color: #75757a;
    font-size: 18px;
    text-align: center;
    vertical-align: middle;
    line-height: 20px;
    transition: all 0.3s linear;
}

#sidebar-cart ul.products li.product a.product-link span.product-details span.qty-price span.qty button.minus-button:active,
#sidebar-cart ul.products li.product a.product-link span.product-details span.qty-price span.qty button.plus-button:active,
#sidebar-cart ul.products li.product a.product-link span.product-details span.qty-price span.qty button.minus-button:hover,
#sidebar-cart ul.products li.product a.product-link span.product-details span.qty-price span.qty button.plus-button:hover {
    color: #fff;
    background: #000;
    border-color: #000;
    cursor: pointer;
    outline: none;
}

#sidebar-cart ul.products li.product a.product-link span.product-details span.qty-price span.qty button.minus-button:focus,
#sidebar-cart ul.products li.product a.product-link span.product-details span.qty-price span.qty button.plus-button:focus {
    outline: none;
}

#sidebar-cart ul.products li.product a.product-link span.product-details span.qty-price span.qty input.qty-input {
    width: 24px;
    height: 24px;
    text-align: center;
    border: 1px solid #cdcdd1;
    border-radius: 3px;
    margin: 0 2px;
    transition: all 0.5s linear;
}

#sidebar-cart ul.products li.product a.product-link span.product-details span.qty-price span.qty input.qty-input:active,
#sidebar-cart ul.products li.product a.product-link span.product-details span.qty-price span.qty input.qty-input:hover {
    border: 1px solid #000;
}

#sidebar-cart ul.products li.product a.product-link span.product-details span.qty-price span.qty input.qty-input:focus {
    outline: none;
    border: 1px solid #000;
}

#sidebar-cart ul.products li.product a.product-link span.product-details span.qty-price span.qty input.qty-input::-webkit-inner-spin-button,
#sidebar-cart ul.products li.product a.product-link span.product-details span.qty-price span.qty input.qty-input::-webkit-outer-spin-button {
    appearance: none;
    margin: 0;
}

#sidebar-cart ul.products li.product a.product-link span.product-details span.qty-price span.price {
    color: #000;
    font-weight: 500;
    font-size: 13px;
    display: inline-flex;
}

#sidebar-cart ul.products li.product a.remove-button {
    height: 16px;
    width: 16px;
    margin: 10px 10px 0 0;
    text-decoration: none;
    position: absolute;
    top: 2px;
    right: 0;
    z-index: 2;
    display: flex;
}

#sidebar-cart ul.products li.product a.remove-button span.remove-icon {
    width: 15px;
    height: 16px;
    background: rgba(117, 117, 122, 0.5);
    text-indent: -9999px;
    overflow: hidden;
    font-size: 0;
    mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 36'%3E%3Cpath fill='currentColor' d='M30.9 2.3h-8.6L21.6 1c-.3-.6-.9-1-1.5-1h-8.2c-.6 0-1.2.4-1.5.9l-.7 1.4H1.1C.5 2.3 0 2.8 0 3.4v2.2c0 .6.5 1.1 1.1 1.1h29.7c.6 0 1.1-.5 1.1-1.1V3.4c.1-.6-.4-1.1-1-1.1zM3.8 32.8A3.4 3.4 0 0 0 7.2 36h17.6c1.8 0 3.3-1.4 3.4-3.2L29.7 9H2.3l1.5 23.8z'/%3E%3C/svg%3E");
    -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 36'%3E%3Cpath fill='currentColor' d='M30.9 2.3h-8.6L21.6 1c-.3-.6-.9-1-1.5-1h-8.2c-.6 0-1.2.4-1.5.9l-.7 1.4H1.1C.5 2.3 0 2.8 0 3.4v2.2c0 .6.5 1.1 1.1 1.1h29.7c.6 0 1.1-.5 1.1-1.1V3.4c.1-.6-.4-1.1-1-1.1zM3.8 32.8A3.4 3.4 0 0 0 7.2 36h17.6c1.8 0 3.3-1.4 3.4-3.2L29.7 9H2.3l1.5 23.8z'/%3E%3C/svg%3E");
    transition: all 0.5s linear;
}

#sidebar-cart ul.products li.product a.remove-button:active span.remove-icon,
#sidebar-cart ul.products li.product a.remove-button:hover span.remove-icon {
    background: rgba(117, 117, 122, 0.5);
}

#sidebar-cart div.totals {
    position: absolute;
    bottom: 80px;
    left: 0;
    right: 0;
    height: 45px;
    background: #e1e1e7;
    border-bottom: 1px solid #d7d7de;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

#sidebar-cart div.totals div.subtotal,
#sidebar-cart div.totals div.shipping,
#sidebar-cart div.totals div.tax {
    padding: 15px;
    text-align: center;
    color: #44444a;
    border-bottom: 1px solid #d7d7de;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 14px;
    font-weight: 400;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

#sidebar-cart div.totals div.subtotal span.amount,
#sidebar-cart div.totals div.shipping span.amount,
#sidebar-cart div.totals div.tax span.amount {
    color: #000;
    margin-left: 10px;
    font-weight: 600;
}

#sidebar-cart div.action-buttons {
    padding: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 80px;
    background: #fff;
    display: block;
    white-space: nowrap;
}

#sidebar-cart div.action-buttons a.view-cart-button,
#sidebar-cart div.action-buttons a.checkout-button {
    display: inline-block;
    padding: 10px;
    margin: 20px 15px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 14px;
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
    transition: all 0.5s linear;
}

#sidebar-cart div.action-buttons a.view-cart-button {
    background: #fff;
    border-color: #000;
    margin-right: 5px;
    color: #000;
    width: 80px;
}

#sidebar-cart div.action-buttons a.view-cart-button:active,
#sidebar-cart div.action-buttons a.view-cart-button:hover {
    background: #000;
    color: #fff;
}

#sidebar-cart div.action-buttons a.checkout-button {
    border-color: #000;
    background: #000;
    margin-left: 5px;
    color: #fff;
    width: 200px;
}

#sidebar-cart div.action-buttons a.checkout-button:after {
    content: url("data:image/svg+xml,%3Csvg fill='%23fff' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512'%3E%3Cpath d='M311.03 131.515l-7.071 7.07c-4.686 4.686-4.686 12.284 0 16.971L387.887 239H12c-6.627 0-12 5.373-12 12v10c0 6.627 5.373 12 12 12h375.887l-83.928 83.444c-4.686 4.686-4.686 12.284 0 16.971l7.071 7.07c4.686 4.686 12.284 4.686 16.97 0l116.485-116c4.686-4.686 4.686-12.284 0-16.971L328 131.515c-4.686-4.687-12.284-4.687-16.97 0z'/%3E%3C/svg%3E");
    width: 20px;
    height: 14px;
    display: inline-block;
    margin-left: 6px;
    vertical-align: middle;
    position: relative;
    top: -5px;
    z-index: 1;
}

#sidebar-cart div.action-buttons a.checkout-button:active,
#sidebar-cart div.action-buttons a.checkout-button:hover {
    background: #fff;
    border-color: #000;
    color: #000;
}

#sidebar-cart-curtain {
    background: rgba(0, 0, 0, 0.2);
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
}


/* ========== Store ======= */

.figure-store {
    padding: 1rem;
}

.figure-store .figure-caption {
    font-size: 18px;
    font-weight: 700;
    color: #000;
}

.figure-store .figure-price {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.6);
}

.pagination-store .page-link {
    color: #000;
    border-radius: 0 !important;
}

.pagination-store .page-link:hover {
    color: #000;
}


/* ========== Store Detail ======= */

.product-name,
.product-size,
.product-price {
    margin: 20px 0;
}

.image-select {
    margin-top: 2%;
}

.image-select img {
    float: left;
    max-width: 20%;
    width: 20%;
    cursor: pointer;
    margin-right: 2%;
    border: 2px solid #eee;
    box-sizing: border-box;
}

.image-select img.active {
    border: 2px solid #aaa;
}

.product-size span {
    display: inline-block;
    width: 35px;
    border: 1px solid #999;
    text-align: center;
    padding: .2rem;
    text-transform: uppercase;
    cursor: pointer;
}

.product-size span.active {
    color: #000;
    background: #aaa;
}

.product-size-ordered span {
    text-transform: uppercase;
}


/* ========== After Store  ======= */

.form-profile .form-control {
    border-radius: 0 !important;
    border: 1px solid #000000;
}

.jumbotron-after-shop {
    border-radius: 0;
    background-color: transparent !important;
    border: 1px solid #000;
    box-sizing: border-box;
}

.jumbotron-after-shop p {
    color: #6c757d !important;
    margin-bottom: 0;
    font-size: 14px;
}

/* .jumbotron-after-shop .box-text {
    padding: 1rem 0;
} */

.jumbotron-after-shop .box-text p {
    color: #6c757d !important;
    margin-bottom: 0;
    font-size: 14px;
}

.label-bank {
    margin-top: -1rem;
}

.label-bank .img-bank {
    width: 25%;
}

.label-payment {
    display: flex;
    justify-content: space-between;
}

.shipment-img img {
    border: 1px solid rgba(0, 0, 0, 0.6);
}

.jumbotron-after-shop li {
    list-style: decimal;
    margin-left: 1.5rem;
    color: #6c757d;
}


/* ========== Footer ======= */

footer {
    background-color: #fff;
    /* box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12); */
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: normal 16px sans-serif;
    padding: 100px 50px 45px;
}

footer .footer-left p {
    color: rgba(0, 0, 0, 0.6);
    font-size: 12px;
    margin: 0;
}


/* ========== Footer links ========== */

footer .footer-links {
    font-size: 14px;
    font-weight: bold;
    color: #000;
    margin: 0 0 10px;
    padding: 0;
    transition: ease .25s;
}

footer .footer-links a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    list-style: none;
    color: inherit;
    margin-left: .5rem;
    transition: ease .25s;
}

footer .footer-right {
    float: right;
    margin-top: 6px;
    max-width: 180px;
}

footer .footer-right a {
    display: inline-block;
    width: 25px;
    height: 25px;
    background-color: #000;
    border-radius: 50%;
    font-size: 14px;
    color: #ffffff;
    text-align: center;
    line-height: 25px;
    margin-left: 2px;
    transition: all .25s;
}

footer .footer-right a:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
}

footer p.footer-links a:hover {
    text-decoration: underline;
}


/* ========== Owl Video ========== */

.owl-carousel .owl-video-tn {
    background-size: cover;
    padding-bottom: 80%;
    padding-top: 0;
}

.owl-video-frame {
    position: relative;
    padding-bottom: 56.25%;
    /* 16:9 */
    padding-top: 25px;
}

.owl-video-frame iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.owl-carousel.owl-carousel.owl-thumb-video .body-video {
    height: 65vh;
}

.owl-carousel.owl-thumb-video .owl-nav {
    position: absolute;
    top: 40%;
    left: 0;
    right: 0;
}

.owl-carousel.owl-thumb-video .owl-nav i {
    font-size: 2.5rem;
    color: #cecece;
}

.owl-carousel.owl-thumb-video .owl-prev,
.owl-carousel.owl-thumb-video .owl-next {
    position: absolute;
    height: 100px;
    color: inherit;
    background: none;
    border: none;
    z-index: 1;
}

.owl-carousel.owl-thumb-video .owl-prev:hover,
.owl-carousel.owl-thumb-video .owl-next:hover {
    background: transparent;
    border: 0;
}

.owl-carousel.owl-thumb-video .owl-prev {
    left: 0;
}

.owl-carousel.owl-thumb-video .owl-next {
    right: 0;
}

.owl-carousel.owl-thumb-video.owl-loading {
    opacity: 1;
}


/* Testing */


/*------- header top style start -------*/

.header-top {
    padding: 12px 0;
}

.header-top-left {
    color: #fff;
    font-size: 18px;
    font-weight: 500;
}

@media only screen and (min-width: 768px) and (max-width: 991.98px),
only screen and (max-width: 767.98px) {
    .header-top-left {
        font-size: 16px;
    }
}

.header-top-left a {
    color: #fff;
}

.header-top-left a:hover {
    color: #151515;
}

@media only screen and (max-width: 575.98px) {
    .login-register {
        padding-bottom: 6px;
    }
}

.login-register a {
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    line-height: 1;
}

.login-register a:hover {
    color: #151515;
}

.header-social-link a {
    color: #fff;
    margin-left: 26px;
}

.header-social-link a:hover {
    color: #151515;
}

.header-social-link a:first-child {
    margin-left: 0;
}


/*------- header top style end -------*/


/*------ main menu start ------*/


/* .brand-logo {
    max-width: 110px;
} */

.brand-logo a {
    margin-left: -1rem;
}

.main-menu-wrapper {
    padding: 20px 0;
}

.main-menu-wrapper.header-transparent {
    padding: 0;
}

.main-menu ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    margin-top: 1rem;
}

.main-menu ul li {
    position: relative;
}

.main-menu ul li a {
    color: #000;
    font-size: 16px;
    padding: 10px 14px;
    font-weight: 400;
    display: block;
}

.main-menu ul li a i {
    font-size: 14px;
    padding: 0 3px;
}

.main-menu ul li:last-child a {
    padding-right: 0;
}

.main-menu ul li:hover>a,
.main-menu ul li.active>a {
    color: #444;
    text-decoration: none;
}

.main-menu ul li ul.dropdown {
    top: 100%;
    left: 0;
    width: 175px;
    position: absolute;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
    background-color: #fff;
    opacity: 0;
    visibility: hidden;
    z-index: 99999;
    pointer-events: none;
    -webkit-transform: translateY(20px);
    -ms-transform: translateY(20px);
    transform: translateY(20px);
    border: 1px solid #efefef;
}

.main-menu ul li ul.dropdown li {
    margin-right: 0;
    border-right: none;
    -webkit-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
}

.main-menu ul li ul.dropdown li a {
    color: #151515;
    font-size: 14px;
    font-weight: 400;
    padding: 10px 20px;
    text-transform: capitalize;
    position: relative;
    border-bottom: 1px solid #efefef;
    z-index: 1;
}

.main-menu ul li ul.dropdown li a i {
    float: right;
    padding-top: 5px;
}

.main-menu ul li ul.dropdown li:hover>a {
    color: #fff;
    background-color: #0172d0;
}

.main-menu ul li ul.dropdown li:hover>ul.dropdown {
    top: 0;
    opacity: 1;
    visibility: visible;
}

.main-menu ul li ul.dropdown li:last-child a {
    border-bottom: 0;
}

.main-menu ul li ul.dropdown li ul.dropdown {
    top: 100%;
    left: 100%;
    opacity: 0;
    visibility: hidden;
}

.main-menu ul li:hover ul.dropdown {
    opacity: 1;
    visibility: visible;
    pointer-events: visible;
    -webkit-transform: translate(0);
    -ms-transform: translate(0);
    transform: translate(0);
}


/*------ main menu end ------*/


/*----- language style strat -----*/

.language {
    position: relative;
    color: #fff;
}

.language .dropdown-list {
    top: 100%;
    right: 0;
    position: absolute;
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translateY(30px);
    -ms-transform: translateY(30px);
    transform: translateY(30px);
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
    padding: 15px 15px 20px;
    width: 150px;
    z-index: 9;
    background-color: #fff;
    pointer-events: none;
    border: 1px solid #efefef;
}

.language .dropdown-list li {
    margin-left: 0;
    padding: 0;
}

.language .dropdown-list li a {
    color: #151515;
    font-size: 14px;
    display: block;
    padding: 8px 0 3px;
}

.language .dropdown-list li a:hover {
    color: #0172d0;
}

.language .dropdown-list li a img {
    vertical-align: inherit;
    padding-right: 5px;
}

.language:hover .dropdown-list {
    opacity: 1;
    visibility: visible;
    pointer-events: visible;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
}

.mobile-top-dropdown {
    padding: 20px;
}

.mobile-top-dropdown>a {
    color: #fff;
}

.mobile-top-dropdown .dropdown-toggle:after {
    display: none;
}


/*----- language style end -----*/


/*------ sticky menu style start ------*/

.sticky.is-sticky {
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    z-index: 9;
    background-color: #fff;
    -webkit-box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.2);
    -webkit-animation: 900ms cubic-bezier(0.2, 1, 0.22, 1) 0s normal none 1 running fadeInDown;
    animation: 900ms cubic-bezier(0.2, 1, 0.22, 1) 0s normal none 1 running fadeInDown;
}

.sticky.is-sticky.main-menu-wrapper {
    padding: 0;
}

.sticky.is-sticky.main-menu-wrapper .brand-logo {
    max-width: 100px;
}


/*------ sticky menu style end ------*/

.header-transparent {
    top: 0;
    left: 0;
    width: 100%;
    position: absolute;
    z-index: 1;
    background-color: transparent;
}


/*----- mobile menu start -----*/

.mobile-header {
    padding: 0;
}

.mobile-logo {
    max-width: 80px;
}

.mobile-main-header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.mobile-main-header .mobile-menu-toggler {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.mobile-main-header .mobile-menu-toggler .mobile-menu-btn {
    margin-left: 25px;
    background: transparent;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
    outline: none;
    border: 0;
}

.mobile-main-header .mobile-menu-toggler .mobile-menu-btn span {
    width: 25px;
    height: 2px;
    display: block;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
    background-color: #151515;
    -webkit-transform-origin: left;
    -ms-transform-origin: left;
    transform-origin: left;
}

.mobile-main-header .mobile-menu-toggler .mobile-menu-btn span:nth-child(2),
.mobile-main-header .mobile-menu-toggler .mobile-menu-btn span:nth-child(3) {
    margin-top: 5px;
}

.mobile-main-header .mobile-menu-toggler .mobile-menu-btn:hover span {
    background-color: #0172d0;
}

.mobile-main-header .mobile-menu-toggler .mobile-menu-btn:hover span:nth-child(1),
.mobile-main-header .mobile-menu-toggler .mobile-menu-btn:hover span:nth-child(3) {
    width: 20px;
}

.mobile-navigation {
    overflow: hidden;
    max-height: 360px;
    padding: 20px;
}

.mobile-navigation nav {
    height: 100%;
}

.mobile-menu {
    margin-top: 30px;
    height: 100%;
    overflow: auto;
    padding-right: 30px;
    margin-right: -30px;
}

@media only screen and (max-width: 479.98px) {
    .mobile-menu {
        margin-top: 0;
    }
}

.mobile-menu li>a {
    font-size: 16px;
    color: #000;
    line-height: 18px;
    position: relative;
    display: inline-block;
    padding: 10px 0;
}

.mobile-menu li>a:hover {
    color: #151515;
}

.mobile-menu li ul li {
    border: none;
}

.mobile-menu li ul li a {
    font-size: 14px;
    text-transform: capitalize;
    padding: 10px 0 8px;
}

.mobile-menu li.menu-item-has-children {
    display: block;
    position: relative;
}

.mobile-menu li.menu-item-has-children .dropdown {
    padding-left: 15px;
}

.mobile-menu li.menu-item-has-children .menu-expand {
    line-height: 50;
    top: -5px;
    left: 95%;
    width: 30px;
    position: absolute;
    height: 50px;
    text-align: center;
    cursor: pointer;
}

.mobile-menu li.menu-item-has-children .menu-expand i {
    display: block;
    position: relative;
    width: 10px;
    margin-top: 25px;
    border-bottom: 1px solid #fff;
    -webkit-transition: all 250ms ease-out;
    -o-transition: all 250ms ease-out;
    transition: all 250ms ease-out;
}

.mobile-menu li.menu-item-has-children .menu-expand i:before {
    top: 0;
    width: 100%;
    content: "";
    display: block;
    position: absolute;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    border-bottom: 1px solid #fff;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
}

.mobile-menu li.menu-item-has-children.active>.menu-expand i:before {
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
}


/*----- mobile menu end -----*/


/*------ offcanvas widget area start ------*/

.offcanvas-widget-area {
    margin-top: auto;
    padding: 20px;
}

.off-canvas-contact-widget li {
    color: #000;
    font-size: 15px;
    margin-bottom: 5px;
}

.off-canvas-contact-widget li i {
    width: 20px;
}

.off-canvas-contact-widget li a {
    color: #000;
}

.off-canvas-contact-widget li a:hover {
    color: #151515;
}

.off-canvas-social-widget {
    margin-top: auto;
}

.off-canvas-social-widget a {
    color: #000;
    font-size: 18px;
    display: inline-block;
    margin-right: 15px;
}

.off-canvas-social-widget a:hover {
    color: #151515;
}


/*------ offcanvas widget area end ------*/

.off-canvas-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
    z-index: 9999;
}

.off-canvas-wrapper.open {
    opacity: 1;
    visibility: visible;
}

.off-canvas-wrapper.open .off-canvas-inner-content {
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
}

.off-canvas-wrapper .off-canvas-overlay {
    background-color: rgba(0, 0, 0, 0.4);
    content: '';
    cursor: url("../img/icon/cancel.png"), auto;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
}

.off-canvas-wrapper .off-canvas-inner-content {
    background-color: #fff;
    width: 300px;
    height: 100%;
    position: relative;
    -webkit-transform: translateX(calc(-100% - 50px));
    -ms-transform: translateX(calc(-100% - 50px));
    transform: translateX(calc(-100% - 50px));
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
}

@media only screen and (max-width: 479.98px) {
    .off-canvas-wrapper .off-canvas-inner-content {
        width: 270px;
    }
}

.off-canvas-wrapper .btn-close-off-canvas {
    top: 0;
    left: 100%;
    width: 60px;
    height: 60px;
    font-size: 26px;
    color: #0172d0;
    line-height: 60px;
    text-align: center;
    cursor: pointer;
    position: absolute;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
    background-color: #fff;
}

.off-canvas-wrapper .btn-close-off-canvas i {
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
    display: block;
    line-height: 60px;
}

.off-canvas-wrapper .btn-close-off-canvas:hover i {
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

.off-canvas-wrapper .off-canvas-inner {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-left: auto;
    height: 100%;
}

.search-box-offcanvas form {
    position: relative;
}

.search-box-offcanvas form input {
    color: #666;
    font-size: 13px;
    width: 100%;
    height: 60px;
    border: none;
    padding: 0 40px 0 10px;
    background-color: #f2f2f2;
}

.search-box-offcanvas form .search-btn {
    top: 0;
    right: 0;
    width: 40px;
    height: 60px;
    line-height: 62px;
    font-size: 20px;
    color: #0172d0;
    position: absolute;
}

.search-box-offcanvas form .search-btn:hover {
    color: #0172d0;
}


/*------- mobile top bar settings start -------*/

.mobile-settings {
    padding-top: 15px;
    margin-top: 15px;
    border-top: 1px solid #e1e1e1;
}

.mobile-settings li {
    margin-bottom: 5px;
}

.mobile-settings .nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.mobile-settings .nav .mobile-top-dropdown .dropdown-toggle {
    font-size: 14px;
    color: #151515;
    cursor: pointer;
}

.mobile-settings .nav .mobile-top-dropdown .dropdown-toggle i {
    font-size: 12px;
    padding-left: 5px;
    vertical-align: middle;
}

.mobile-settings .nav .mobile-top-dropdown .dropdown-toggle:hover {
    color: #0172d0;
}

.mobile-settings .nav .mobile-top-dropdown .dropdown-toggle:after {
    display: none;
}

.mobile-settings .nav .mobile-top-dropdown .dropdown-menu {
    padding: 0;
    border-color: #e1e1e1;
    -webkit-transform: translateY(30px);
    -ms-transform: translateY(30px);
    transform: translateY(30px);
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
}

.mobile-settings .nav .mobile-top-dropdown .dropdown-menu.show {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
}

.mobile-settings .nav .mobile-top-dropdown .dropdown-menu .dropdown-item {
    font-size: 13px;
    color: #151515;
    padding: 6px 15px;
}

.floating-icon {
    display: none;
}