@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
body {
    font-family: 'Roboto', sans-serif !important;
}


/* ========== Typography ========== */

.title {
    font-weight: 700;
}

.subtitle {
    font-weight: 400;
    color: rgba(0, 0, 0, 0.8);
}


/* ========== Breadcrumbs ========== */

.breadcrumb-item a {
    color: #000;
}


/* ========== Buttons ========== */

.btn-black {
    background-color: #000 !important;
    color: #fff;
    border-radius: 0 !important;
}

.btn-black:hover {
    color: #aaa;
}


/* slider Image Greyscale */

.thumb-img .card img {
    -webkit-filter: grayscale(100%);
    /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}


/* Client */

.client {
    text-align: center;
}

.client img {
    margin: 2rem;
}


/* ========== Footer ======= */

footer {
    background-color: #fff;
    /* box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12); */
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: normal 16px sans-serif;
    padding: 100px 50px 45px;
}

footer .footer-left p {
    color: rgba(0, 0, 0, 0.6);
    font-size: 12px;
    margin: 0;
}


/* Footer links */

footer .footer-links {
    font-size: 14px;
    font-weight: bold;
    color: #000;
    margin: 0 0 10px;
    padding: 0;
    transition: ease .25s;
}

footer .footer-links a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    list-style: none;
    color: inherit;
    margin-left: .5rem;
    transition: ease .25s;
}

footer .footer-right {
    float: right;
    margin-top: 6px;
    max-width: 180px;
}

footer .footer-right a {
    display: inline-block;
    width: 25px;
    height: 25px;
    background-color: #000;
    border-radius: 50%;
    font-size: 14px;
    color: #ffffff;
    text-align: center;
    line-height: 25px;
    margin-left: 2px;
    transition: all .25s;
}

footer .footer-right a:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
}

footer p.footer-links a:hover {
    text-decoration: underline;
}


/* ========== Owl Video ========== */

.owl-carousel .owl-video-tn {
    background-size: cover;
    padding-bottom: 56.25%;
    /* 16:9 */
    padding-top: 25px;
}

.owl-video-frame {
    position: relative;
    padding-bottom: 56.25%;
    /* 16:9 */
    padding-top: 25px;
    height: 0;
}

.owl-video-frame iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.owl-dots {
    text-align: center;
    margin-top: 20px;
}

.owl-dot {
    display: inline-block;
}

.owl-dot span {
    width: 11px;
    height: 11px;
    background-color: #ccc;
    border-radius: 50%;
    display: block;
    margin: 5px 3px;
}

.owl-dot.active span {
    background-color: #000;
}